server:
  port: 8081
  servlet:
    context-path: /${spring.application.name}
system:
  title: ${SYSTEM_TITLE_NAME:sol}
  describe: 系统基础服务，包含用户管理权限管理等。
  password:
    plaintext: true # 是否明文存储密码
  captcha:
    is-open: ${SYSTEM_CAPTCHA_IS_OPEN:true}
    max: ${SYSTEM_CAPTCHA_MAX:11}
    length: ${SYSTEM_CAPTCHA_LENGTH:2}
spring:
  profiles:
    active:
      - web
      - database
      - discovery
      - loadbalancer
      - logger
      - micrometer
      - feign
      - pg-m1
      - redis
      - sa-token
      - swagger
