server:
  http_listen_address: "0.0.0.0"  # HTTP 监听地址
  http_listen_port: 3200          # HTTP 端口
  grpc_listen_address: "0.0.0.0"  # gRPC 监听地址
  grpc_listen_port: 9095          # gRPC 端口

distributor:
  receivers:
    otlp:
      protocols:
        grpc: {}   # 启用 OTLP gRPC 协议
        http: {}   # 启用 OTLP HTTP 协议

overrides:
  defaults:
    ingestion:
      rate_strategy: "local"      # 摄取速率策略
      burst_size_bytes: 20000000  # 突发大小（20MB）
      rate_limit_bytes: 15000000  # 速率限制（15MB/s）
      max_traces_per_user: 10000  # 每个用户最大追踪数
      max_global_traces_per_user: 0
      max_attribute_bytes: 2048   # 最大属性字节

storage:
  trace:
    backend: s3
    s3:
      endpoint: cloud-app-minio:9000
      bucket: tempo
      access_key: minio
      secret_key: miniopwd
      insecure: true                        # 使用 HTTP 时必须为 true；HTTPS 可去掉
      forcepathstyle: true                  # ⚠️ MinIO 必须启用 path-style，否则无法访问
      region: tempo-0                   # 可随意设置，但必须有值（MinIO 需要）

# 建议保留 compactor
compactor:
  compaction:
    block_retention: 120h
