auth_enabled: false

server:
  http_listen_port: 3100

common:
  instance_addr: 127.0.0.1
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

storage_config:
  use_thanos_objstore: true
  object_store:
    s3:
      bucket_name: loki
      endpoint: cloud-app-minio:9000
      region: loki-0
      access_key_id: ${MINIO_ROOT_USER}
      secret_access_key: ${MINIO_ROOT_PASSWORD}
      insecure: true
schema_config:
  configs:
    - from: 2025-10-24
      store: tsdb
      object_store: s3
      schema: v13
      index:
        prefix: index_
        period: 24h
table_manager:
  retention_deletes_enabled: true
  retention_period: 120h
